// Place all the styles related to the IterativeChain controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.iterative-chains {  
  background: lightgray;
  
  //  Styling for Training
  .iterative-chains-training {
    text-align: center;
    .training-stimulus {
      display: none;
    }
  }
  
  //  Styling for Testing
  .iterative-chains-testing {
    text-align: center;
    .main-stimuli {
      .img-wrapper, .audio-wrapper {
        display: none;
      }
    }
    .next {
      display: none;
    }
    
    .choices-wrapper {
      .choice {
        display: inline-block;
        width: 20%;
        margin: 10px;
        text-align: center;
        .already-selected-text {
          display: none;
        }
        &.already-selected {
          * {
            display: none;
          }
          .already-selected-text {
            display: block;
          }
        }
      }
    }
    
    input[type='submit'] {
      display: none;
    }
    
    &.phone-to-sem {
      
    }
    
    &.sem-to-phone {
    }
  }
}

img {
  max-width: 100%;
}

audio {
  display: none;
}

.hide {
  display: none !important;
}
.show {
  display: block !important;
}