// Place all the styles related to the IterativeChain controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.iterative_chains {  
  background: lightgray;
  
  //  Styling for Training
  .training {
    text-align: center;
    .training-stimulus {
      display: none;
    }
  }
  
  //  Styling for Testing
  .testing {
    text-align: center;
    .main-stimuli {
      .img-wrapper, .audio-wrapper {
        display: none;
      }
    }
    .next {
      display: none;
    }
    
    .choices-wrapper {
      text-align: left;
      .choice {
        display: inline-block;
        width: 20%;
        margin: 10px;
        text-align: center;
      }
    }
    
    &.phone-to-sem {
      
    }
    
    &.sem-to-phone {
    }
  }
}

img {
  max-width: 100%;
}

audio {
  display: none;
}

.hide {
  display: none !important;
}
.show {
  display: block !important;
}