<h1>All Iterative Chains and User Entries</h1>

<ul class="iterative-chains">
  <% @iterative_chains.each_with_index do |iterative_chain, index|%>
    <li>
      <div>Iterative Chain # <%= index %></div>
    </li>
  <% end%>
</ul>
