<h1>All Iterative Chains and User Entries</h1>

<ul class="iterative-chains">
  <% @iterative_chains.each_with_index do |iterative_chain, index|%>
    <li>
      <div>Iterative Chain # <%= index %></div>
      <% iterative_chain.user_entries.each_with_index do |user_entry, index| %>
        <div>
          <div><%= user_entry.pairs %></div>
          <div><%= user_entry.iterative_chain_id %></div>
        </div>
      <% end%>
    </li>
  <% end%>
</ul>
