<div class="start">
	<% if flash.empty? == true %>
		<div>
			<div>Welcome to this experiment. Please read all instructions carefully before you start the experiment. In this experiment, you will be learning an alien language. In this phase of experiment, you will see pictures displayed on the computer screen, one at a time. At the same time, you will hear through the speaker the corresponding alien word referring to that picture. Please try to remember as many words and what picture they refer to as you can.</div>
			<%= form_for @iterative_chains, url: {action: "check"}, html: {class: "check"} do |f| %>
				<%= f.submit "Create" %>
			<% end %>
		</div>
	<% else %>
		<% flash.each do |name, msg| -%>
			<%= content_tag :div, msg, class: name %>
		<% end -%>
	<% end %>
</div>