<div class='iterative-chains-training'>
	<h1>Training</h1>
	<p>Please listen to the sound displayed with the image</p>
	<% @stimuli.each_with_index do |stimulus, index| %>
		<div class="training-stimulus" id='<%= "stimuli_" + index.to_s %>'>
			<div class='img-wrapper'>
				<%= image_tag(Image.find(stimulus[:image]).path) %>
			</div>
			<div class='audio-wrapper'>
				<%= content_tag(:audio, :controls => "controls") do %>
					<%= content_tag(:source, "", :src => Sound.find(stimulus[:sound]).path) %>
				<% end %>
			</div>
		</div>
	<% end %>
</div>